main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-content:center;
    align-self: center;


    .key {

        border: 2px solid black;
        width: 100px;
        height: 100px;
    }
}
